.pond-list-container{
  margin-top: 8px!important;
  overflow-y: auto;
}

.add-new-pond-btn-container{
  width: 100%;
  height: 60px;
  background: #fff;
  position: fixed;
  bottom: 60px;
  left: 0;
}

.add-new-pond-btn{
  width: 100%;
}

.tab-btn {
  padding: 0!important;
  align-items: flex-start!important;
}