@import "src/App";

.create-farm-btn {
  text-align: center;
  margin: 20px 0
}
.pac-container {
  z-index: 9999;
}
.pac-target-input {
  padding: 16.5px 14px;
  border-radius: 10px !important;
  border: 1px solid #bdbdbd;
  width: 90%;
}
